.cart-page
{
    width: 100%;
    height: 80%;
}

.cart-page-container
{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-page-container .payment-details-container
{
    width: 40%;
    min-width: 350px;
    flex: 1 1 auto;
    justify-content: center;
}

.cart-page-container .payment-details-container .payment-details
{
    width: 100%;
    padding: 5%;
    font-size: calc(12px + 4vw);
    text-align: center;
    justify-content: center;
}

.cart-page-container .cart-items-container
{
    flex: 1 1 auto;
    width: 60%;
}

.cart-page-container .cart-items-container .cart-items .cart-header
{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid darkgrey;
}

.cart-page-container .cart-items-container .cart-items .cart-header .header-block
{
    text-transform: capitalize;
    font-size: calc(7px + 1vw);
}

