.cart-page
{
    width: 100%;
    height: 80%;
}

.cart-page-container
{
    margin-top: 2%;
    width: 100%;
    display: flex;
}

.cart-page-container .payment-details
{
    width: 40%;
    font-size: 5vw;
    text-align: center;
}

.cart-page-container .cart-items
{
    width: 60%;
}

.cart-page-container .cart-items .cart-header
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
}

.cart-page-container .cart-items .cart-header .header-block
{
    text-transform: capitalize;
    width: 23%;
}

.cart-page-container .cart-items .cart-header .header-block:last-child
{
    width: 8%;
}
