.item-card{
    width: 98%;
    height: 98%;
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-right: 1px;
    padding-bottom: 5px;
    align-self: center;
    justify-self: center;
}

.item-card .image
{
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.item-card .item-footer
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}
