.header
{
    position: relative;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header .logo-container
{
    height: 100%;
    width: 70px;
}

.header .logo-container img
{
    height: 100%;
}

.header .options
{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .options .option
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: auto;
    cursor: pointer;
}