.account-page
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 5%;
}

.account-page .side-menu
{
    width: 20%;
}

.account-page .side-menu > *:hover
{
    background-color: lightgray;
    cursor: pointer;
}

.account-page .selected-content
{
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    height: auto;
    margin-bottom: 5%;
}