body
{
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

#root
{
    height: 100%;
    padding: 10px 3%;
}

a
{
    text-decoration: none;
    color: black;
}

*
{
    box-sizing: border-box;
}